numpy==1.19.3
matplotlib==3.3.3
ipywidgets==7.6.3
plotly==4.14.3
holoviews==1.14.4
streamlit==1.5.1
pandas==1.1.4
plotnine==0.8.0
altair==4.1.0
chart_studio==1.1.0
panel==0.11.3
bokeh==2.3.0
cufflinks==0.17.3
seaborn==0.11.0
bqplot==0.12.29
ipython==8.0.1
